.header {
    box-shadow:  0rem .0625rem .0625rem rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 100;
    background: white;
    top: 0rem;
}

.nav {
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding:  .5rem 0;
}

.login {
    color: #333;
    display: flex;
    align-items: center;
    &::after {
        content: '';
        display: inline-block;
        width: .875rem;
        height: 1.0625rem;
        background: url('../../../Assets//usuario.svg') no-repeat center center;
        margin-left: .5rem;
        position: relative;
        top: -0.0625rem;
    }
}

