.wrapper {
    margin-bottom: 1rem;

    .input {
        border:  .0625rem solid #EEE;
        display: block;
        width: 100%;
        font-size: 1rem;
        padding: .8rem;
        border-radius: .4rem;
        background: #EEE;
        transition: .2s;

        &:focus, &:hover {
            outline: none;
            border-color: #FB1;
            background: white;
            box-shadow: 0 0 0 .1875rem #FEA;
        }
    }

    label {
        display: block;
        font-size: 1rem;
        line-height: 1;
        padding-bottom: .5rem;
    }

    .error {
        color: #F31;
        font-size: .875rem;
        margin-top: .25rem;
    }
}