@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 ;
    padding-top: 4rem;
    color: #333;
    --principal-type: Helvetica, Arial, sans-serif;
    --secondary-type: 'Spectral', georgia;
    font-family: var(--principal-type);
}

h1, h2, h3, h4, p {
    margin: 0rem;
}

ul, li {
    list-style: none;
    padding: 0rem;
    margin: 0rem;
}

img {
    display: block;
    max-width: 100%;
}

button, input {
    display: block;
    font-size: 1rem;
    font-family: var(--principal-type);
    color: #333;
}

.container {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.title {
    font-family: var(--secondary-type);
    line-height: 1;
    font-size: 3rem;
    margin: 1rem 0;
    position: relative;
    z-index: 1;
    &::after {
        content: '';
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        background: #FB1;
        position: absolute;
        bottom: .3125rem;
        left: -0.3125rem;
        border-radius: .2rem;
        z-index: -1;
    }
}

a {
    text-decoration: none;
    color: #333;
}

.animeLeft {
    opacity: 0;
    transform: translateX(-20px);
    animation: animeLeft .3s forwards;
}

@keyframes animeLeft{
    to {
        opacity: 1;
        transform: initial;
    }
}